extends layout

append head

    link(rel="stylesheet" href="/stylesheets/artist-profile.css")

block content
    .grid-outer-container
        .user-info
            h1= `${user.firstName} ${user.lastName}'s Gallery`
            div.username-and-follow
                h2= `${user.username}`
                if userId != user.id
                    i(class="fa-solid fa-user-plus follow-icon")
        .grid
            - var i = -1;
            each post in posts
                - ++i
                .post-container
                    img(src=post.path, alt="Artist Post").post-image

                    .image-overlay.post-container
                        a(href=`/posts/${post.id}`).clickable-post
                            h1.post-title= post.title
                            .like-and-comment-container
                                i(class="fa-solid fa-thumbs-up").like-and-comment-icons
                                p.count= counts[i].likesCount
                                i(class="fa-solid fa-message").like-and-comment-icons
                                p.count= counts[i].commentsCount
