extends layout.pug


block content
    link(rel="stylesheet", href="/stylesheets/home.css")
    div.outer-container
        h1.page-title= title
        .grid
            - var imageNumber = 0;
            - var i = -1
            each post in posts
                - ++i
                - ++imageNumber
                    div(id=`image-${imageNumber}`).post-container
                        img(src=`${post.path}`, alt="").post-image

                    div(id=`image-${imageNumber}`).post-container.image-overlay
                            a(href=`/posts/${post.id}`).clickable-post
                                h1.post-title= post.title
                                h3.post-artist= post.artistName
                                .like-and-comment-container
                                    i(class="fa-solid fa-thumbs-up").like-and-comment-icons
                                    p.count= counts[i].likesCount
                                    i(class="fa-solid fa-message").like-and-comment-icons
                                    p.count= counts[i].commentsCount
