extends layout.pug

include utils.pug

append head
    link(rel="stylesheet" href="/stylesheets/post.css")

block content

    div.outer-container
        div.post-header
            h1= title
            div.likes
                i(class="fa-solid fa-thumbs-up like-icon")
                //- TODO like count
                span.likes-num 0
        .artist-date
            span.post-date Date
            div.right-side
                div.name-and-follow-icon
                    span.artist-name= `${post.User.firstName} ${post.User.lastName}`
                    if userId != post.user_id
                        button(type='button' class='follow-artist')
                            i(class="fa-solid fa-user-plus follow-icon")
                span.artistHandle: a(href=`/${post.User.username}`)= `\@${post.User.username}`
        if userId == post.user_id
            div.edit-delete
                a(href=""): button(type='button').edit-button Edit
                a(href=`/posts/${post.id}/delete`): button(type='button').delete-button Delete
        .image
            img(src=post.path alt='Artist Post')
        .description
            p= post.description
        .comments-outer-container
            h2.comments-heading Comments
            .comment-form
                if locals.authenticated 
                    h4.add-comment-text Add Comment
                    form(action=`posts/${post.id}/comments` method='post').form-element
                        //- +field(null, "comment", null, 'textarea').comment-textbox
                        textarea(name="comment").comment-textbox
                        button(type='submit').comment-submit Submit
                else 
                    a(href="/login").comment-login Please login to post comments. 
            div.comment-list
                each comment in comments
                    div.comment-container
                        div.comment-avatar
                            i(class="fa-solid fa-user")
                        div.comment-main
                            h4=`${comment.User.firstName} ${comment.User.lastName}`
                            p= comment.comment
                        div.comment-info
                            span.date Date
                            if userId == comment.user_id
                                i(class="fa-solid fa-pen-to-square")
                                i(class="fa-solid fa-trash-can")
