extends layout.pug

include utils.pug

append head
    link(rel="stylesheet" href="/stylesheets/post.css")

block content
        div.outer-container
            .post-div
                div.post-header
                    h1= title
                    div.likes
                        if locals.authenticated
                            if liked
                                i(class="fa-solid fa-thumbs-up like-icon")#like-button.liked
                            else
                                i(class="fa-solid fa-thumbs-up like-icon")#like-button
                        else
                            a(href="/login"): i(class="fa-solid fa-thumbs-up like-icon")#like-button
                        span.likes-num= likesCount

                .image
                    a(href=post.path).image-link: img(src=post.path alt='Artist Post')

                .right-div
                    div.right-side
                        div.name-and-follow-icon
                            span.artist-name= `${post.User.firstName} ${post.User.lastName}`

                    .handle-date-follow
                        .handle-date
                            span.artistHandle: a(href=`/${post.User.username}`)#handle-username= `\@${post.User.username}`
                            .artist-date
                                span.post-date= dateString
                        if userId != post.user_id
                                button(type='button' class='follow-artist')
                                    if locals.authenticated
                                        if follows
                                            i(class="fa-solid fa-user-plus follow-icon").followed
                                        else
                                            i(class="fa-solid fa-user-plus follow-icon")
                                    else
                                        a(href="/login"): i(class="fa-solid fa-user-plus follow-icon")
                                    span.follows-count= followsCount
                    .description
                        p= post.description
                    if userId == post.user_id
                        div.edit-delete
                            a(href=`/posts/${post.id}/edit`): button(type='button').edit-button Edit
                            a(href=`/posts/${post.id}/delete`): button(type='button').delete-button Delete

                .comments-outer-container
                    h2.comments-heading Comments
                    +validationErrorSummary(errors)
                    .comment-form
                        if locals.authenticated
                            h4.add-comment-text Add Comment
                            form(action=`/posts/${post.id}` method='post').form-element
                                input(type="hidden" name="_csrf" value=csrfToken)
                                textarea(name="comment").comment-textbox
                                button(type='submit').comment-submit
                                    span.submit-word Submit
                                    span.submit-icon: i(class="fa-solid fa-message")
                        else
                            a(href="/login").comment-login Please login to post comments.
                    div.comment-list
                        each comment in comments
                            div.comment-container
                                div.comment-avatar
                                    a(href=`/${comment.User.username}`)
                                        if comment.User.avatar_path
                                            img(src=comment.User.avatar_path, alt="User's avatar")#user-avatar.comment
                                        else
                                            i(class="fa-solid fa-user comment-profile")
                                div.comment-main
                                    h4=`${comment.User.firstName} ${comment.User.lastName}`
                                    p= comment.comment
                                div.comment-info
                                    span.date= comment.createdAt.toDateString()
                                    if userId == comment.user_id
                                        div.comment-edit-delete
                                            a(href=`/comments/${comment.id}/edit`)
                                                i(class="fa-solid fa-pen-to-square edit-comment")
                                            a(href=`/comments/${comment.id}/delete`)
                                                i(class="fa-solid fa-trash-can delete-comment")
